alias h='history'

# Directories
alias ls='ls -aFGh'
alias ll='ls -l'
alias lt='ll -t'
alias ..='cd ..'
alias ...='cd ../..'

# Processes
alias psa='ps auxwww'
alias show='ps auxwww | grep '

# Bundle
alias be='bundle exec'
alias ber='bundle exec rake'
alias bers='bundle exec rspec'

# Git
alias g='git'

# Heroku
alias hk='heroku'
alias hkl='heroku logs'
alias hkr='heroku run'
alias hkrr='heroku run rails c'

# NPM
alias nombom='npm cache clear && bower cache clean && rm -rf node_modules bower_components && npm install && bower install'
